.grid-container{
    display: inline-grid;
    grid-template-columns: 8fr 8fr 8fr 8fr;
    grid-template-rows: 8fr 8fr 8fr 7fr;
    width: 50%;
    height: 50vh;
    background: #fff;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 5;
    background: #2ecc71;
}

.item2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    background: #2ecc71;
}
.item3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background: #3498db;
}
.item4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background: #3498db;
}